@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --cv-bg-color: #e7e5e4;
}

#root {
  font-family: 'Nunito', sans-serif;
  width: 100%;

  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container {
  margin-top: 30px;
  opacity: 1;
  transition: opacity 0.4s ease-in, display 0.4s allow-discrete;
  border: 2px solid wheat;
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-color: #132929;

  & h1 {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    & .cvIcon {
      width: 55px;
      animation: scale-rotate 2s ease-in-out infinite alternate;
    }
  }

  & form {
    display: grid;
    gap: 15px;
    width: 100%;

    & .educationFieldSet {
      & div {
        width: 80%;
      }
    }

    .practicalFieldSet {
      & div {
        width: 80%;
      }
    }

    & fieldset {
      max-width: 830px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 25px;
      justify-content: space-around;
      align-items: center;
      gap: 15px;

      & legend {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0 5px;
      }

      & .addBtn {
        font-size: bold;
        position: absolute;
        right: 2%;
        display: flex;
        background-color: #d6d6d6;
        justify-content: center;
        font-size: 1.4rem;
        border-radius: 50%;
        padding: 1px 15px;
        top: 0;
        width: 15px;
      }

      & > div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
      }

      & label {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        gap: 5px;

        & textarea {
          resize: none;
          height: 100px;
          width: 200px;
        }

        & input,
        textarea {
          font-family: inherit;
          font-size: 14px;
          padding: 6px;
          background-color: rgb(254, 245, 228);
          color: black;
          font-weight: 600;
          border-radius: 6px;
          border: none;
        }
      }
    }
  }
}

.home-container.hide {
  display: none;
  opacity: 0;
}

.cv-container {
  display: none;
  opacity: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;

  & section {
    display: flex;
    height: 1200px;
  }

  & aside {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1200px;
    background: #132929;
    color: white;
    border-right: 1px solid #f55454;
    box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.3);

    & h1 {
      padding: 10px 30px;
      font-size: 25px;
      display: flex;
      align-items: center;
      gap: 8px;

      & img {
        width: 45px;
      }
    }

    & .edit-btns {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      & button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background-color: bisque;
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 10px 0px;
        box-shadow: 1px 0px 6px 0px rgba(0, 0, 0, 0.3);

        &:hover {
          background-color: #ffce93;
        }
      }
    }
  }

  & main {
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;

    & h2 {
      display: flex;
      gap: 5px;
    }

    & .resume {
      position: relative;
      margin: 50px auto;
      width: 80%;
      height: 1200px;

      border: 2px solid black;
      box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);

      & .cv-header {
        background-color: var(--cv-bg-color);
        height: 210px;
        display: flex;
        align-items: end;
        justify-content: center;
        padding-left: 220px;

        & h1 {
          width: 500px;
          text-align: center;
          letter-spacing: 2px;
          margin: 0;
          font-size: 3.4rem;
        }
      }

      & .cv-main {
        position: absolute;
        left: 42%;
        top: 19%;
        display: grid;
        gap: 1rem;

        > h2 {
          padding: 0 20px;
          font-weight: 500;
          margin: 0 0 40px 0;
        }

        & .profile-section {
          width: 85%;
        }

        & .work-section {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          & h2 {
            margin-bottom: 0;
          }

          & > div {
            margin-top: 20px;
            width: 85%;
            display: flex;
            gap: 1.5rem;
          }

          & .work-period {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #6060ff;
            font-weight: bold;

            p {
              margin: 0;
            }
          }

          & .work-info {
            border-left: 2px solid salmon;
            padding-left: 15px;

            & h3 {
              margin: 0 0 10px 0;
            }

            & h4 {
              margin: 0;
              color: rgb(85, 85, 85);
            }
            p {
              margin-bottom: 3px;
            }
          }
        }
      }

      & .personalInfo {
        width: 25%;
        padding: 20px;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.3rem;
        top: 11%;
        left: 6%;
        height: 900px;
        border: 2px solid black;

        & .profile-picture {
          height: 220px;
          width: 200px;
          position: relative;
          overflow: hidden;
          background-image: url(../assets/profile-pic.jpg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: 0 1px 2px 1px black;
          border: 1px solid black;

          & .upload-icon {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-35%, -35%);
            opacity: 0;
            transition: opacity 0.3s ease, background-color 0.3s ease,
              scale 0.3s;
            background-color: #ffffffa7;
            border-radius: 20%;
            padding: 8px 8px 0 8px;
          }

          & .file-uploader {
            opacity: 0;
            height: 100%;
            width: 100%;
            cursor: pointer;
            position: absolute;
            top: 0%;
            left: 0%;
          }

          &:hover {
            background-image: none;
            background-color: #d6d6d6;
            .upload-icon {
              opacity: 1;
              scale: 1.5;
            }
          }
        }

        & div p {
          display: flex;
          gap: 10px;
          margin-top: 20px;
          padding-left: 10px;
        }

        & .education {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          & h2 {
            margin-bottom: 0;
            margin-left: 40px;
            width: 190px;
            background-color: var(--cv-bg-color);
          }

          h2 > span {
            margin: 0;
            position: relative;
            left: -35px;
          }

          & div * {
            margin: 0;
            text-wrap: wrap;
          }
        }
      }
    }
  }

  & footer {
    display: flex;
    justify-content: center;

    a {
      color: white;
      text-decoration: underline;
    }
  }
}

.cv-container.show {
  opacity: 1;
  display: flex;
}

@keyframes scale-rotate {
  from {
    transform: scale(0.8) rotate(-5deg);
  }
  to {
    transform: scale(1) rotate(5deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .cvIcon {
    animation: scale-rotate 2s ease-in-out infinite alternate;
  }
}
