#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-container {
  opacity: 1;
  transition: opacity 0.4s ease-in, display 0.4s allow-discrete;
  border: 2px solid wheat;
  border-radius: 10px;
  padding: 20px;
  color: white;
  background-color: #132929;

  & h1 {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    & .cvIcon {
      width: 55px;
      animation: scale-rotate 2s ease-in-out infinite alternate;
    }
  }

  & form {
    display: grid;
    gap: 15px;
    width: 100%;

    & fieldset {
      display: flex;
      flex-wrap: wrap;
      padding: 25px;
      justify-content: space-around;
      align-items: center;
      gap: 15px;

      & legend {
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0 5px;
      }

      & > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
      }

      & label {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        gap: 5px;

        & textarea {
          resize: none;
          height: 100px;
          width: 200px;
        }

        & input,
        textarea {
          font-family: inherit;
          font-size: 14px;
          padding: 6px;
          background-color: rgb(254, 245, 228);
          color: black;
          font-weight: 600;
          border-radius: 6px;
          border: none;
        }
      }
    }
  }
}

.home-container.hide {
  display: none;
  opacity: 0;
}

.cv-container {
  display: none;
  opacity: 0;
  width: 100%;
  flex-direction: column;
  height: 100%;

  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 40px;
    background: #132929;
    color: white;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);

    & h1 {
      font-size: 25px;
      display: flex;
      align-items: center;
      gap: 8px;

      & img {
        width: 45px;
      }
    }

    & .edit-btns {
      display: flex;
      gap: 20px;

      & button {
        background-color: bisque;
        width: 135px;
        border: none;
        padding: 5px 10px;
      }
    }
  }

  & main {
    background-color: white;
    flex: 1;

    & .personalInfo {
      padding: 20px;

      & .profile-picture {
        height: 220px;
        width: 200px;
        position: relative;
        overflow: hidden;
        background-image: url(./assets/profile-pic.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0 8px 6px -7px black;

        & .upload-icon {
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-35%, -35%);
          opacity: 0;
          transition: opacity 0.3s ease, background-color 0.3s ease, scale 0.3s;
          background-color: #ffffffa7;
          border-radius: 20%;
          padding: 8px 8px 0 8px;
        }

        & .file-uploader {
          opacity: 0;
          height: 100%;
          width: 100%;
          cursor: pointer;
          position: absolute;
          top: 0%;
          left: 0%;
        }

        &:hover {
          background-image: none;
          background-color: #d6d6d6;
          .upload-icon {
            opacity: 1;
            scale: 1.5;
          }
        }
      }
    }
  }
}

.cv-container.show {
  opacity: 1;
  display: flex;
}

@keyframes scale-rotate {
  from {
    transform: scale(0.8) rotate(-5deg);
  }
  to {
    transform: scale(1) rotate(5deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .cvIcon {
    animation: scale-rotate 2s ease-in-out infinite alternate;
  }
}
